___
# Atividade: Variáveis quantitativas com Expectativa de Vida
___

## Aula 03



**Preparo prévio:**
1.	Leitura prévia necessária: Magalhães e Lima (7ª. Edição): pág. 9 a 17 – destacando para variáveis quantitativas; pág. 106 e 107 (Definição 4.1 e Exemplo 4.1).

**Hoje:**
1. Explorar a variável quantitativa Expectativa de Vida de diversos países do mundo nos anos: 1800, 1926 e 2000. 
2. Construir tabelas de frequências e interpretar resultados considerando variáveis quantitativas de forma univariada. 
4. Explicar vantagens e desvantagens sobre o uso da frequência ou da densidade na construção de um histograma e saber interpretá-lo. 
5. Desenvolver contas para obtenção da média e mediana nos três anos.
6. Identificar o formato dos dados (simétrico, assimétrico positivo ou assimétrico negativo) ao observar um histograma e explicar o que cada formato pode impactar nas medidas de posição.


**Próxima aula:**
1. Leitura prévia necessária: Magalhães e Lima (7ª. Edição): pág. 18 a 25; pág. 106 e 107 (Definição 4.1 e Exemplo 4.1); pág. 116 e 117 (Definição 4.4 e Exemplo 4.8). 
2. Leitura prévia necessária: Montgomery et al (5ª. Edição): pág. 24 a 28.
___

## <font color='blue'>Expectativa de Vida - LIFE</font>

O Banco Mundial (http://data.worldbank.org/brazilian-portuguese) disponibiliza bases de dados estatísticos para um pouco mais de 200 países do mundo desde o ano 1800, as quais consideram uma seleção abrangente de indicadores econômicos, sociais e ambientais. Um desses indicadores é a expectativa de vida (em anos) de cada país.

O arquivo `Life.xlsx` contém a expectativa de vida de vários países para os anos 1800, 1926 e 2000.

Considerando esses dados, faça as seguintes tarefas:

1.	Construa uma tabela de frequências absolutas e relativas (em %) para cada um dos anos. 

2.	Construa um histograma para cada ano e interprete os gráficos. 

3. De acordo com o formato de um histograma, é possível classificar a distribuição dos dados como sendo: simétrica, assimétrica positiva (ou a direita) ou assimétrica negativa (ou a esquerda). Observando o formato de cada histograma construído no item anterior, classifique como sendo simétrico, assimétrico positivo ou assimétrico negativo. Argumente claramente o motivo de sua classificação. 
![AssimSim](AssimSim.jpg)

4.	Para cada ano, calcule a expectativa média de vida, a expectativa mediana de vida e a classe modal.

5.	Para cada um dos três anos, ordene os valores das medidas de posição (média, mediana e classe modal) obtidas no item anterior. A ordem dessas três medidas de posição é um mero acaso ou pode ser consequência do formato dos dados? Argumente claramente sua resposta.

In [25]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

In [26]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\B155 FIRE V3\Documents\Escola\2017.1\CD\Aulas\Aula 3\Atividade

In [27]:
dados = pd.read_excel('Life.xlsx')

In [28]:
dados.head()

                  Pais    L1800      L1926  L2000
0          Afghanistan  28.2110  26.919920   51.0
1              Albania  35.4000  35.400000   74.2
2              Algeria  28.8224  30.968000   73.2
3               Angola  26.9800  26.980000   52.6
4  Antigua and Barbuda  33.5360  37.673931   73.9

In [29]:
dados_1800 = dados.L1800
dados_1800.value_counts()

32.000000    8
32.900000    5
33.000000    4
32.100000    3
32.200000    3
28.700000    3
30.800000    3
26.000000    3
25.800000    3
36.600000    3
30.300000    2
31.000000    2
29.700000    2
35.400000    2
36.100000    2
31.400000    2
28.800000    2
29.500000    2
35.500000    2
32.800000    2
33.100000    2
34.050000    2
35.000000    2
30.600000    2
30.400000    2
25.600000    2
29.900000    2
30.000000    2
35.700000    2
31.800000    2
            ..
26.900000    1
33.500000    1
33.900000    1
28.300000    1
36.141967    1
33.967170    1
32.160000    1
29.573457    1
34.900000    1
31.120000    1
33.867000    1
42.845599    1
30.700000    1
26.700000    1
28.008000    1
29.690000    1
37.916209    1
23.387000    1
30.430000    1
38.300000    1
36.573126    1
38.000000    1
24.235000    1
29.000000    1
34.200000    1
39.410000    1
33.145000    1
25.986000    1
24.300000    1
35.800000    1
Name: L1800, dtype: int64

In [30]:
dados_1926 = dados.L1926
dados_1926.value_counts()

32.000000    5
30.800000    3
33.000000    3
32.100000    3
32.200000    2
32.300000    2
29.700000    2
32.800000    2
26.000000    2
31.000000    2
31.100000    2
30.600000    2
30.400000    2
24.900000    2
35.000000    2
30.000000    2
31.976832    2
30.300000    2
31.600000    2
35.500000    2
33.100000    2
25.100000    2
29.900000    2
38.410338    1
62.940000    1
61.710000    1
32.900000    1
57.900000    1
25.400000    1
63.040000    1
            ..
40.700000    1
42.541000    1
42.170200    1
42.250000    1
33.770520    1
35.920000    1
24.180000    1
31.200000    1
32.145931    1
30.123931    1
38.400178    1
53.830000    1
38.877800    1
62.790000    1
47.600000    1
24.160000    1
28.524880    1
57.600000    1
54.225385    1
46.949696    1
39.750769    1
39.267063    1
47.760000    1
29.400000    1
24.239840    1
45.050752    1
38.855000    1
35.100000    1
33.126000    1
31.792931    1
Name: L1926, dtype: int64

In [31]:
dados_2000 = dados.L2000
dados_2000.value_counts()

74.300    4
73.800    4
79.700    3
70.100    3
72.000    3
77.800    3
73.900    3
76.700    2
50.000    2
78.100    2
69.000    2
79.300    2
79.100    2
52.500    2
73.200    2
65.800    2
77.200    2
75.000    2
52.600    2
72.700    2
55.000    2
61.400    2
60.200    2
63.600    2
69.100    2
71.300    2
64.400    2
72.600    2
78.200    2
60.000    2
         ..
74.648    1
68.300    1
64.900    1
67.500    1
72.300    1
68.200    1
69.900    1
77.116    1
51.700    1
55.900    1
75.828    1
67.400    1
71.900    1
54.100    1
57.100    1
76.300    1
49.800    1
66.300    1
73.100    1
75.011    1
73.457    1
77.627    1
68.900    1
73.500    1
75.500    1
78.700    1
71.200    1
79.900    1
61.700    1
71.000    1
Name: L2000, dtype: int64

In [32]:
dados_1800.describe()

count    201.000000
mean      31.485800
std        3.763625
min       23.387000
25%       29.000000
50%       31.800000
75%       33.900000
max       42.845599
Name: L1800, dtype: float64

In [33]:
dados_1926.describe()

count    201.000000
mean      36.353496
std        9.590987
min       23.387000
25%       30.400000
50%       32.800000
75%       39.360000
max       63.260000
Name: L1926, dtype: float64

In [34]:
dados_2000.describe()

count    201.000000
mean      68.012856
std        9.211812
min       45.700000
25%       61.400000
50%       71.200000
75%       75.000000
max       81.100000
Name: L2000, dtype: float64

In [91]:
from numpy import arange

minimo = dados_1800.min() // 1
maximo = (dados_2000.max() // 1)

intervalo = (maximo - minimo)**(1/2)
print(intervalo)
intervalo = 8

faixa = arange(minimo, maximo, intervalo)
print("Faixas = ", faixa)

7.61577310586
Faixas =  [ 23.  31.  39.  47.  55.  63.  71.  79.]

In [77]:
dados_1800_cat = pd.cut(dados_1800, faixa, False)
dados_1926_cat = pd.cut(dados_1926, faixa, False)
dados_2000_cat = pd.cut(dados_2000, faixa, False)

In [78]:
pd.DataFrame([dados_1800,dados_1800_cat]).T

       L1800     L1800
0     28.211  [23, 31)
1       35.4  [31, 39)
2    28.8224  [23, 31)
3      26.98  [23, 31)
4     33.536  [31, 39)
5       33.2  [31, 39)
6     33.995  [31, 39)
7     34.419  [31, 39)
8      34.05  [31, 39)
9       34.4  [31, 39)
10    29.165  [23, 31)
11    35.179  [31, 39)
12      30.3  [23, 31)
13      25.5  [23, 31)
14    32.124  [31, 39)
15      36.2  [31, 39)
16        40  [39, 47)
17      26.5  [23, 31)
18        31  [31, 39)
19    28.799  [23, 31)
20        33  [31, 39)
21      35.1  [31, 39)
22      33.6  [31, 39)
23        32  [31, 39)
24      29.2  [23, 31)
25      35.8  [31, 39)
26      29.2  [23, 31)
27      31.5  [31, 39)
28        35  [31, 39)
29     28.75  [23, 31)
..       ...       ...
171    32.16  [31, 39)
172       38  [31, 39)
173     31.1  [31, 39)
174     28.3  [23, 31)
175   24.235  [23, 31)
176     32.2  [31, 39)
177     30.4  [23, 31)
178   28.949  [23, 31)
179     31.3  [31, 39)
180     28.2  [23, 31)
181     32.9  [31, 39)
182     28.8  [23, 31)
183       35  [31, 39)
184       24  [23, 31)
185     25.3  [23, 31)
186     36.6  [31, 39)
187     30.7  [23, 31)
188  38.6498  [31, 39)
189    39.41  [39, 47)
190     32.9  [31, 39)
191   26.926  [23, 31)
192     24.3  [23, 31)
193     32.2  [31, 39)
194     32.1  [31, 39)
195   34.753  [31, 39)
196       32  [31, 39)
197   33.403  [31, 39)
198   23.387  [23, 31)
199     32.6  [31, 39)
200     33.7  [31, 39)

[201 rows x 2 columns]

In [79]:
pd.DataFrame([dados_1926,dados_1926_cat]).T

       L1926     L1926
0    26.9199  [23, 31)
1       35.4  [31, 39)
2     30.968  [23, 31)
3      26.98  [23, 31)
4    37.6739  [31, 39)
5      52.94  [47, 55)
6     44.665  [39, 47)
7    38.5569  [31, 39)
8      62.94  [55, 63)
9     53.614  [47, 55)
10    39.835  [39, 47)
11   39.3169  [39, 47)
12      30.3  [23, 31)
13      24.9  [23, 31)
14   36.2619  [31, 39)
15    48.322  [47, 55)
16     56.97  [55, 63)
17      35.5  [31, 39)
18        31  [31, 39)
19    28.799  [23, 31)
20        33  [31, 39)
21   38.3644  [31, 39)
22      33.6  [31, 39)
23   31.9907  [31, 39)
24   39.7508  [39, 47)
25      45.3  [39, 47)
26      29.2  [23, 31)
27        26  [23, 31)
28        35  [31, 39)
29     28.75  [23, 31)
..       ...       ...
171    62.79  [55, 63)
172    60.64  [55, 63)
173     31.1  [31, 39)
174       37  [31, 39)
175   34.905  [31, 39)
176     32.2  [31, 39)
177     30.4  [23, 31)
178   28.949  [23, 31)
179     31.3  [31, 39)
180  29.3891  [23, 31)
181    42.25  [39, 47)
182   29.526  [23, 31)
183       35  [31, 39)
184   33.126  [31, 39)
185    24.18  [23, 31)
186    45.95  [39, 47)
187     30.7  [23, 31)
188    59.66  [55, 63)
189     57.9  [55, 63)
190  34.2162  [31, 39)
191   37.596  [31, 39)
192     24.3  [23, 31)
193     32.2  [31, 39)
194     32.1  [31, 39)
195   34.753  [31, 39)
196       32  [31, 39)
197  37.5409  [31, 39)
198   23.387  [23, 31)
199     32.6  [31, 39)
200     33.7  [31, 39)

[201 rows x 2 columns]

In [80]:
pd.DataFrame([dados_2000,dados_2000_cat]).T

      L2000     L2000
0        51  [47, 55)
1      74.2  [71, 79)
2      73.2  [71, 79)
3      52.6  [47, 55)
4      73.9  [71, 79)
5      74.3  [71, 79)
6      71.4  [71, 79)
7    73.783  [71, 79)
8      79.7       NaN
9      78.2  [71, 79)
10       68  [63, 71)
11     70.3  [63, 71)
12     73.6  [71, 79)
13     65.8  [63, 71)
14     74.3  [71, 79)
15     68.2  [63, 71)
16     77.8  [71, 79)
17       69  [63, 71)
18     59.2  [55, 63)
19     63.9  [63, 71)
20     67.6  [63, 71)
21     75.2  [71, 79)
22     51.6  [47, 55)
23     71.9  [71, 79)
24     75.5  [71, 79)
25     71.7  [71, 79)
26     53.3  [47, 55)
27     47.5  [47, 55)
28     60.9  [55, 63)
29       55  [55, 63)
..      ...       ...
171    79.7       NaN
172      80       NaN
173    73.8  [71, 79)
174      76  [71, 79)
175    66.3  [63, 71)
176    54.8  [47, 55)
177    71.3  [71, 79)
178    63.6  [63, 71)
179      59  [55, 63)
180    69.1  [63, 71)
181    69.4  [63, 71)
182      75  [71, 79)
183    71.5  [71, 79)
184    63.1  [63, 71)
185      50  [47, 55)
186    67.5  [63, 71)
187    73.8  [71, 79)
188    77.8  [71, 79)
189    77.1  [71, 79)
190    74.6  [71, 79)
191    67.4  [63, 71)
192      63  [63, 71)
193    74.3  [71, 79)
194    73.5  [71, 79)
195  62.636  [55, 63)
196    72.6  [71, 79)
197  77.574  [71, 79)
198    63.5  [63, 71)
199    45.7  [39, 47)
200    50.8  [47, 55)

[201 rows x 2 columns]